@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");

body{

    width: 100%;
    overflow-x: hidden;
    
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  
}


 header {
   

    width: 100%;
    padding: 10px;
    /*Coloca os elementos do menu alinhados*/
    display: flex;
    /*Separa os elementos do menu*/
    justify-content: space-around;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);

}

header h2{
    font-family: "Herr Von Muellerhoff", cursive;
    
}
li{
    
    list-style: none;
    font-weight: bold;
    font-weight: bolder;
    
    
}
.links{
    
    cursor: pointer;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    float: right;
    letter-spacing: 2px;
    font-size: 1rem;
    /*Cria um espaço para as palavras*/
    padding: 0.5rem 1rem;
    transition: 0.7s ease-in-out;
    
    
}

.links:hover {
    color: blueviolet;
}
.links li {
    text-align: center;
}

#title {
    font-size: 2.5em;
    opacity: 1;
}

#home {
    background: url(/dist/images/unnamed-file.png) no-repeat center  fixed;
    height: 90vh;
    /*Poe a imagem toda dentro do espaço com sua respectiva resolução*/
    background-size: cover;
    padding-top: 30vh;   
    text-align: center;
    
}

#home h2 {
    
    color: white;
    font-size: 4.0rem;
}

#home h3 {
    color: white;
    /*padding-left: 5%;*/
    font-size: 1.5rem;
}

#btn {
    padding: 8px 22px;
    border-radius: 20px;
    cursor: pointer;
    margin: 100px;
    text-decoration: none;
    background-color: rgb(165, 255, 123);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1rem;
    border-color: rgb(236, 213, 0);
    
}

#bottomBar {
    position:fixed;
    bottom:0;
    width:100%;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
}

#bottomBar li {
    font-size: 1.5rem;
}